@model IEnumerable<Faculty>

<p>
    <a asp-action="CreateFaculty">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.faculty_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.campus_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dean_user_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faculty_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faculty_phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faculty_uni_email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.campus_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dean_user_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faculty_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faculty_phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faculty_uni_email)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { item.faculty_id }) |
                    @Html.ActionLink("Details", "Details", new { item.faculty_id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.faculty_id })
            </td>
        </tr>
}
    </tbody>
</table>
