@model IEnumerable<SIS_UMS.Models.Campus>

@{
    ViewData["Title"] = "All Campuses";
}


<div class="col-12 justify-content-center align-items-center">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center">All Campuses</h3>

           
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Campus Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Fax</th>
                    </tr>
                </thead>
               <tbody>
                        

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.campus_name</td>
                                <td>@item.campus_name</td>
                                <td>@item.campus_phone_number</td>
                                <td><span class="tag tag-@item.campus_email.ToLower()">@item.campus_email</span></td>
                                <td>@item.campus_fax</td>
                                <td>
                                    <a href="@Url.Action("EditCampusDetails", new { id = item.campus_id })" class="btn btn-block btn-dark" style="color: #fff;">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                </td>


                                <td>
                                    <a href="@Url.Action("DeleteCampus", new { id = item.campus_id })" class="btn btn-danger custom-delete-button">
                                        <i class="fa-solid fa-trash"></i> 
                                    </a>
                                </td>

                            </tr>
                        }
               </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<br />
<div>
<p>
    <a asp-action="CreateCampus" class="btn btn-block btn-outline-dark">Create New</a>
</p>
</div>

